@page
@model PayrollLite.Pages.GenderTypes.IndexModel
@{
    Layout = "_MainLayout";
    ViewData["Title"] = "Gender Types";
}

<div class="container-xxl flex-grow-1 container-p-y">
    <div class="row">
        <div class="col-xl">
            <h4 class="fw-bold py-3 mb-1">@ViewData["Title"]</h4>
            <div class="card mb-4">
                <div class="card-header d-flex align-items-center justify-content-between">
                    <p class="mb-0"><strong>Listing </strong><br /><small>All @ViewData["Title"].ToString().ToLower() available in the system.</small></p>
                    <span class="text-muted float-end">
                        <a asp-page="Create" type="button" class="btn btn-sm btn-success">
                            <span class="tf-icons bx bx-plus"></span>&nbsp; Create New
                        </a>
                    </span>
                </div>
                <div class="card-body">
                    <div class="table-responsive text-nowrap">
                        @if (Model.Vm is null)
                        {
                            <div class="alert alert-info" role="alert">
                                <p>No record available...</p>
                            </div>
                        }
                        else
                        {
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Description</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody class="table-border-bottom-0">
                                    @foreach (var item in Model.Vm.GenderTypes)
                                    {
                                        <tr>
                                            <td><a asp-page="Detail" asp-route-id="@item.Id" class="nav-link">@item.Name</a></td>
                                            <td>@item.Description</td>
                                            <td>
                                                <a asp-page="Detail" asp-route-id="@item.Id" class="btn btn-sm rounded-pill btn-outline-info"><span class="tf-icons bx bx-glasses-alt"></span> View</a>
                                                <a asp-page="Edit" asp-route-id="@item.Id" class="btn btn-sm rounded-pill btn-outline-warning"><span class="tf-icons bx bx-edit-alt"></span> Edit</a>
                                                <a asp-page="Delete" asp-route-id="@item.Id" class="btn btn-sm rounded-pill btn-outline-danger"><span class="tf-icons bx bx-trash"></span> Delete</a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
