@page
@model PayrollLite.Pages.MonthsOfYear.DeleteModel
@{
    Layout = "_MainLayout";
    ViewData["Title"] = "Month of Year";
}

<div class="container-xxl flex-grow-1 container-p-y">
    <div class="row">
        <div class="col-xxl">
            @if (Model.Dto is null)
            {
                <div class="alert alert-danger" role="alert">
                    <p>No record with id:@Model.Id exist.</p>
                </div>
            }
            else
            {
                <h4 class="fw-bold py-3 mb-1">@ViewData["Title"]</h4>
                <div class="card mb-4">
                    <div class="card-header d-flex align-items-center justify-content-between">
                        <p class="mb-0">
                            <strong>Details </strong><br />
                        </p>
                    </div>
                    <div class="card-body">
                        <form method="post">
                            <input asp-for="Dto.Id" value="@Model.Id" hidden />

                            <div class="row mb-3">
                                <label asp-for="Dto.Name" class="col-sm-2 col-form-label">Name :</label>
                                <div class="col-sm-10">
                                    <input asp-for="Dto.Name" value="@Model.Dto.Name" type="text" readonly class="form-control" />
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label asp-for="Dto.Abbreviation" class="col-sm-2 col-form-label">Abbreviation :</label>
                                <div class="col-sm-10">
                                    <input asp-for="Dto.Abbreviation" value="@Model.Dto.Abbreviation" type="text" readonly class="form-control" />
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label asp-for="Dto.Number" class="col-sm-2 col-form-label">Number :</label>
                                <div class="col-sm-10">
                                    <input asp-for="Dto.Number" value="@Model.Dto.Number" type="text" readonly class="form-control" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-2"></div>
                                <div class="col-sm-10">
                                    <div class="alert alert-danger" role="alert">
                                        <p class="text-align-center">
                                            <span class="tf-icons bx bx-info-circle"></span> You are about to delete this record. Note that this action
                                            cannot be undone. Do you want to continue?
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-2"></div>
                                <div class="col-sm-10 align-content-end">
                                    <button type="submit" class="btn btn-danger"><span class="tf-icons bx bx-trash"></span> Yes Delete!</button>
                                    <a asp-page="Index" class="btn btn-secondary"><span class="tf-icons bx bx-x"></span> Cancel</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}